<section class="vh-100" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>
            <form>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  placeholder="Email"
                  name="email"
                  class="form-control form-control-lg"
                  [(ngModel)]="email"
                />
              </div>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  placeholder="Password"
                  name="password"
                  class="form-control form-control-lg"
                  [(ngModel)]="password"
                />
              </div>
              <!-- Submit button -->
              <button
                type="button"
                class="btn btn-primary btn-lg btn-block"
                (click)="handleSubmit()"
              >
                Sign in
              </button>
            </form>
            <div class="text-center mt-4">
              <a href="#!" class="text-decoration-none">Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
